<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>

        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n"/>
        </Console>
               
        <RollingFile name="filelogger" append="false" filePattern="info-%d{yyyy-MM-dd}-%i.log">
            <fileName>${sys:qqq}</fileName>
            <PatternLayout>
                <pattern>%d{dd MMM yyyy HH:mm:ss,SSS} %-10p %l -- %m%n</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 MB" />
            </Policies>
            <DefaultRolloverStrategy max="2"/>
        </RollingFile>
        
    </Appenders>

    <Loggers>
        <Logger name="logA" level="${sys:level}">
            <AppenderRef ref="filelogger"/>
        </Logger>

        <!-- root loggers -->
        <Root level="DEBUG" includeLocation="true">            
            <AppenderRef ref="STDOUT"/>                              
        </Root>

    </Loggers>

</Configuration>