/Cache/JCache/jcache-app/target
/Cache/JCache/CacheAnotations/target
/Cache/JCache/CacheAnotations/nb-configuration.xml
/JMS/ActiveMQ/activemq-spring-example/target
/JMS/ActiveMQ/standalone-example/target
/JMS/ActiveMQ/activemq-spring-example/nb-configuration.xml
/Spring/1. Core/core-no-spring/target/
/Spring/1. Core/core-xml-configuration/target/
/Spring/1. Core/core-annotation-configuration/target
/Spring/1. Core/core-java-configuration/target/
/Spring/1. Core/bean-scopes/target/
/Spring/1. Core/core-properties/target/
/Struts/ProteinTracker/target
/Struts/ProteinTracker/nb-configuration.xml
/Testing/my-easy-mock/nbproject
/Testing/my-easy-mock/target
/Tomcat DataSources and Realms/mavenproject2/target
/Tomcat DataSources and Realms/mavenproject2/nb-configuration.xml
/Algorithm/Algorithm/target/
/Apache Flink/flink-pluralsight-course/target
/core-java8-impatient/target
/Apache Flink/flink-pluralsight-course/filter-output
/MyJQuery/target/test-classes
/MyJQuery/target
/Algorithm/DateRangePicker/target
/NIOSample/target
/JDBI/target
/Recursion/target
/BasicBinaryTree/target/
/mysql-flyway/target
/mybatis-app/target
/VolatileExample/target
/JAX-RS/activity-jaxrs/target/
/JAX-RS/activity-jaxrs/nb-configuration.xml
/java7/target
/EE7/WildFly/PlatfromDataService/data-cassandra-client/target
/EE7/WildFly/wildfly-ejb-client-app/target
/EE7/WildFly/wildfly-server-resources-app/target
/EE7/WildFly/wildfly-server-resources-app/nb-configuration.xml
/EE7/WildFly/DataService/edi-service-loading-test/target/
/EE7/WildFly/DataService/edi-service/target/
/EE7/WildFly/PlatfromDataService/data-service-api/target/
/EE7/WildFly/DataService/data-cassandra-client/target/
/EE7/WildFly/PlatfromDataService/data-service-api-loading-test/target/
/EE7/WildFly/PlatfromDataService/data-cassandra-client/target/
/EE7/WildFly/PlatfromDataService/mavenproject1/target/
/EE7/WildFly/PlatfromDataService/mavenproject2/target/
/EE7/WildFly/PlatfromDataService/data-service-integration-checker/target
/EE7/WildFly/wildfly-server-resources-app/lib/unknown/binary/hibernate-jpamodelgen-4.3.1.Final/SNAPSHOT/hibernate-jpamodelgen-4.3.1.Final-SNAPSHOT.jar
/EE7/my-batch-app/nb-configuration.xml
/EE7/my-batch-app/target
/EE7/my-websocket-jquery-app/nb-configuration.xml
/EE7/my-websocket-jquery-app/target
/EE7/my-websocket-app/target
/EE7/my-websocket-app/nb-configuration.xml
/Swagger/myswagger/target
/Swagger/myswagger/nb-configuration.xml
/block-parser/target
/EE7/ws-messanger/target/
/EE7/data-message-repository-service/target/
/EE7/datamessagerepositoryclient/target/
/Log4j/my-log4j-app/target
/JMS/jms-sample/target
/JMS/jms-sample/nb-configuration.xml
/java7/target
/java7/webrowset.xml
/Struts/StrutsTutorial01/target/
/Struts/mavenproject3/target/
/Struts/StrutsTutorial01/nb-configuration.xml
/java7-details/target
/java7/nbactions-assert.xml
/java7/nb-configuration.xml
/Struts/mavenproject3/nb-configuration.xml

/Algorithm/MyQuickSort/target/
/VolatileExample/VolatileExample.iml
/VolatileExample/.idea
