/Cache/JCache/jcache-app/target
/Cache/JCache/CacheAnotations/target
/Cache/JCache/CacheAnotations/nb-configuration.xml
/JMS/ActiveMQ/activemq-spring-example/target
/JMS/ActiveMQ/standalone-example/target
/JMS/ActiveMQ/activemq-spring-example/nb-configuration.xml
/Spring/1. Core/core-no-spring/target/
/Spring/1. Core/core-xml-configuration/target/
/Spring/1. Core/core-annotation-configuration/target
/Spring/1. Core/core-java-configuration/target/
/Spring/1. Core/bean-scopes/target/
/Spring/1. Core/core-properties/target/
/Struts/ProteinTracker/target
/Struts/ProteinTracker/nb-configuration.xml
