<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <SMTP name="Mail" 
              subject="Error Log" 
              to="javamailtest.javamailtest@gmail.com"
              from="javamailtest.javamailtest@gmail.com"
              smtpHost="smtp.gmail.com" 
              smtpPort="465" 
              bufferSize="50" 
              smtpPassword="SimpleMail23" 
              smtpUsername="javamailtest.javamailtest@gmail.com" 
              smtpProtocol="smtps">
        </SMTP>     
    </Appenders>
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Mail"/>
        </Root>
    </Loggers>
</Configuration>