<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"     
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="customerRepository" class="com.mycompany.core.no.spring.repository.JPACustomerRepositoryImpl"></bean>
    
    <bean name="customerService" class="com.mycompany.core.no.spring.service.CustomerServiceImpl">
        <property name="customerRepository" ref="customerRepository"></property>
    </bean>
    
    <bean name="customerService1" class="com.mycompany.core.no.spring.service.CustomerServiceImpl">
        <constructor-arg index="0" ref="customerRepository"/>
    </bean>
    
    <!-- Autowire 
    1. byType
    2. byName
    3. constructor
    -->
    
    <bean name="customerService2" class="com.mycompany.core.no.spring.service.CustomerServiceImpl" autowire="byType"/>
    <bean name="customerService3" class="com.mycompany.core.no.spring.service.CustomerServiceImpl" autowire="byName"/>    
    <bean name="customerService4" class="com.mycompany.core.no.spring.service.CustomerServiceImpl" autowire="constructor"/>
        
</beans>
